.centro{width:960px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
body header{background:#ef7e20;height:96px;border-bottom:1px #14355e solid;}body header .centro{position:relative;}body header .centro nav{position:absolute;top:0;}body header .centro nav.esquerda{left:0;}
body header .centro nav.direita{right:0;}
body header .centro nav ul{font-size:0;}body header .centro nav ul li{height:96px;overflow:hidden;display:inline-block;*display:inline;zoom:1;vertical-align:top;}body header .centro nav ul li a{padding:0 25px;display:block;height:94px;line-height:140px;border-bottom:2px #ef7e20 solid;color:#fff;text-shadow:0px 2px 0px #C07033;filter:dropshadow(color=#c07033, offx=0, offy=2);text-align:center;background:url('../_imgs/layout/seta_menu.png') #ef7e20 center 100px no-repeat;font-family:'Gill','Tahoma',sans-serif;font-size:28px;font-weight:normal;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header .centro nav ul li a:active,body header .centro nav ul li a:visited{color:#fff;}
body header .centro nav ul li a:hover,body header .centro nav ul li a.ativo{text-shadow:0px 2px 0px #C07033;filter:dropshadow(color=#c07033, offx=0, offy=2);color:#14355e;background:url('../_imgs/layout/seta_menu.png') #f19242 center bottom no-repeat;border-bottom:2px #14355e solid;}
body header .centro #link-home{width:195px;height:132px;position:absolute;top:13px;left:382px;z-index:999999;}
body .main .titulo-internas{background-color:#FBFBFB;border-bottom:1px #c9c9c9 solid;height:130px;}body .main .titulo-internas .centro{height:130px;background:url('../_imgs/layout/paginas_internas-topo.jpg') right center no-repeat;}body .main .titulo-internas .centro h1{font-family:'Gill','Tahoma',sans-serif;font-size:40px;font-weight:bold;color:#14355e;text-shadow:0px 2px 0px #84919a;filter:dropshadow(color=#84919a, offx=0, offy=2);padding-top:35px;line-height:100%;}
body .main .titulo-internas .centro h2{font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#8d8d8b;line-height:100%;}
body .main .container{padding:40px 0;font-size:0;}body .main .container .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;}body .main .container .coluna.esquerda{width:350px;}body .main .container .coluna.esquerda img{-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');}
body .main .container .coluna.esquerda .submenu-servicos{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:140px;border-top:1px #c9c9c9 solid;}body .main .container .coluna.esquerda .submenu-servicos.esquerda{margin-right:18px;}
body .main .container .coluna.esquerda .submenu-servicos li{width:140px;border-bottom:1px #c9c9c9 solid;}body .main .container .coluna.esquerda .submenu-servicos li a{font-family:'Gill','Tahoma',sans-serif;font-size:22px;font-weight:normal;color:#8d8d8b;height:50px;line-height:50px;text-align:center;display:block;background-color:#fff;margin:1px 0;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
body .main .container .coluna.esquerda .submenu-servicos li a.ativo,body .main .container .coluna.esquerda .submenu-servicos li a:hover{text-shadow:0px 2px 0px #c66d13;filter:dropshadow(color=#84919a, offx=0, offy=2);color:#fff;background-color:#ef7e20;}
body .main .container .coluna.direita{width:610px;}body .main .container .coluna.direita p{font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:normal;color:#8d8d8b;margin-bottom:15px;line-height:130%;margin-left:28px;}body .main .container .coluna.direita p.destaque{line-height:118%;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');text-shadow:0px 2px 0px #c2641a;filter:dropshadow(color=#84919a, offx=0, offy=2);background-color:#ef7e20;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:18px;font-weight:bold;color:#fff;text-align:center;padding:15px;}
body .main .container .coluna.direita .servicos-imagem{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:215px;}body .main .container .coluna.direita .servicos-imagem img{-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');}
body .main .container .coluna.direita .servicos-texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:395px;}body .main .container .coluna.direita .servicos-texto h2{line-height:100%;font-family:'Gill','Tahoma',sans-serif;font-size:40px;font-weight:normal;text-shadow:0px 2px 0px #c9cdce;filter:dropshadow(color=#84919a, offx=0, offy=2);color:#ef7e20;margin-left:28px;}
body .main .container .coluna.direita .servicos-texto .orcamento{margin-left:28px;position:relative;height:52px;}body .main .container .coluna.direita .servicos-texto .orcamento a.action{width:177px;height:23px;line-height:23px;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');padding:10px 15px;text-align:center;color:#fff;background-color:#14355e;border-bottom:3px #08283d solid;font-family:'Gill','Tahoma',sans-serif;font-size:17px;font-weight:bold;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .container .coluna.direita .servicos-texto .orcamento a.action:active,body .main .container .coluna.direita .servicos-texto .orcamento a.action:visited{color:#fff;}
body .main .container .coluna.direita .servicos-texto .orcamento a.action:hover{color:#ef7e20;}
body .main .container .coluna.direita .servicos-texto .orcamento .facebook-like{height:25px;margin-bottom:2px;position:absolute;top:0;right:0;width:142px;overflow:hidden;}
body .main .container .coluna.direita .servicos-texto .orcamento .twitter-twet{height:25px;position:absolute;top:25px;right:0;width:142px;overflow:hidden;}
body .main .container .coluna.direita .servicos-lista{margin-top:15px;}body .main .container .coluna.direita .servicos-lista h3{font-family:'Gill','Tahoma',sans-serif;font-size:20px;font-weight:normal;color:#8d8d8b;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;height:30px;line-height:30px;margin-top:10px;background-color:#ededed;}body .main .container .coluna.direita .servicos-lista h3 .sinal{margin-right:10px;width:30px;height:30px;line-height:30px;background-color:#ef7e20;color:#fff;text-align:center;font-family:'Verdana','Arial',sans-serif;font-size:25px;font-weight:normal;float:left;}
body .main .container .coluna.direita .servicos-lista h3:hover,body .main .container .coluna.direita .servicos-lista h3.aberto{color:#14355e;cursor:pointer;}
body .main .container .coluna.direita .servicos-lista .detalhe{-webkit-transition:height 0.3s ease-in;-moz-transition:height 0.3s ease-in;-o-transition:height 0.3s ease-in;transition:height 0.3s ease-in;-webkit-transition:padding-top 0.3s ease-in;-moz-transition:padding-top 0.3s ease-in;-o-transition:padding-top 0.3s ease-in;transition:padding-top 0.3s ease-in;-webkit-transition:padding-bottom 0.3s ease-in;-moz-transition:padding-bottom 0.3s ease-in;-o-transition:padding-bottom 0.3s ease-in;transition:padding-bottom 0.3s ease-in;margin-left:30px;padding:5px 10px 12px 10px;line-height:130%;background-color:#ededed;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:13px;font-weight:normal;color:#8d8d8b;}body .main .container .coluna.direita .servicos-lista .detalhe.hid{height:0;padding:0;overflow:hidden;}
body .main .container #form-orcamento{font-size:0;}body .main .container #form-orcamento .coluna-form{display:inline-block;*display:inline;zoom:1;vertical-align:top;}body .main .container #form-orcamento .coluna-form.esquerda{width:418px;margin-right:7px;}body .main .container #form-orcamento .coluna-form.esquerda input{padding:10px 14px;margin:0 0 10px 0;height:20px;line-height:20px;color:#8d8d8b;border:1px #c9c9c9 solid;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:bold;display:block;width:387px;}body .main .container #form-orcamento .coluna-form.esquerda input::-webkit-input-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.esquerda input:-moz-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.esquerda input::-moz-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.esquerda input:-ms-input-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.esquerda input.inline-large{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:235px;}
body .main .container #form-orcamento .coluna-form.esquerda input.inline-small{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:115px;margin-left:7px;}
body .main .container #form-orcamento .coluna-form.direita{width:535px;}body .main .container #form-orcamento .coluna-form.direita textarea{padding:10px 14px;margin:0 0 10px 0;height:228px;resize:none;overflow:auto;line-height:130%;color:#8d8d8b;border:1px #c9c9c9 solid;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:bold;display:block;width:512px;}body .main .container #form-orcamento .coluna-form.direita textarea::-webkit-input-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.direita textarea:-moz-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.direita textarea::-moz-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .coluna-form.direita textarea:-ms-input-placeholder{color:#8d8d8b;}
body .main .container #form-orcamento .submit-placeholder{height:34px;text-align:right;}body .main .container #form-orcamento .submit-placeholder input{border:0;width:85px;height:30px;line-height:30px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;behavior:url('PIE.htc');padding:0 15px;text-align:center;color:#fff;background-color:#14355e;border-bottom:3px #08283d solid;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:bold;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .container #form-orcamento .submit-placeholder input:active,body .main .container #form-orcamento .submit-placeholder input:visited{color:#fff;}
body .main .container #form-orcamento .submit-placeholder input:hover{cursor:pointer;color:#ef7e20;}
body .main .container .link-servicos{display:inline-block;*display:inline;zoom:1;vertical-align:top;background-color:#ededed;padding:7px;width:285px;margin-right:30px;margin-bottom:30px;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .container .link-servicos.semmargem{margin-right:0;}
body .main .container .link-servicos h2{-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc');width:285px;height:235px;text-indent:-9999px;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:14px;font-weight:normal;}
body .main .container .link-servicos .olho{margin:10px 0;text-align:center;padding:0 10px;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:normal;color:#8d8d8b;line-height:120%;}
body .main .container .link-servicos.alvenaria h2{background:url('../_imgs/servicos/alvenaria-thumb.jpg') center center no-repeat;}
body .main .container .link-servicos.acabamento h2{background:url('../_imgs/servicos/acabamento-thumb.jpg') center center no-repeat;}
body .main .container .link-servicos.eletrica h2{background:url('../_imgs/servicos/eletrica-thumb.jpg') center center no-repeat;}
body .main .container .link-servicos.gesso h2{background:url('../_imgs/servicos/gesso-thumb.jpg') center center no-repeat;}
body .main .container .link-servicos.hidraulica h2{background:url('../_imgs/servicos/hidraulica-thumb.jpg') center center no-repeat;}
body .main .container .link-servicos.pintura h2{background:url('../_imgs/servicos/pintura-thumb.jpg') center center no-repeat;}
body .main .container .link-servicos:hover{background-color:#ef7e20;}body .main .container .link-servicos:hover .olho{color:#fff;}
body .main .container .link-obras{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding:7px;width:208px;margin-right:19px;margin-bottom:19px;background-color:#ededed;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .container .link-obras img{-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;behavior:url('PIE.htc');max-width:208px;margin-bottom:7px;}
body .main .container .link-obras h2{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;text-align:center;color:#14355e;text-shadow:0px 2px 0px #caccc9;filter:dropshadow(color=#84919a, offx=0, offy=2);font-family:'Gill','Tahoma',sans-serif;font-size:24px;font-weight:normal;line-height:100%;}
body .main .container .link-obras h3{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;text-align:center;color:#ef7e20;font-family:'Gill','Tahoma',sans-serif;font-size:20px;font-weight:normal;line-height:100%;margin-bottom:5px;}
body .main .container .link-obras p{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:13px;font-weight:normal;color:#8d8d8b;text-align:center;line-height:120%;}
body .main .container .link-obras.semmargem{margin-right:0;}
body .main .container .link-obras:hover{background-color:#ef7e20;}body .main .container .link-obras:hover h2{text-shadow:0px 2px 0px #b46d37;filter:dropshadow(color=#84919a, offx=0, offy=2);}
body .main .container .link-obras:hover h3{color:#fff;}
body .main .container .link-obras:hover p{color:#fff;}
body .main .container.obrasd #detalhe-obra{background-color:#ededed;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');padding:20px;margin-bottom:18px;}body .main .container.obrasd #detalhe-obra h3{text-align:center;color:#14355e;text-shadow:0px 2px 0px #caccc9;filter:dropshadow(color=#84919a, offx=0, offy=2);font-family:'Gill','Tahoma',sans-serif;font-size:27px;font-weight:normal;line-height:100%;}
body .main .container.obrasd #detalhe-obra h4{text-align:center;color:#ef7e20;font-family:'Gill','Tahoma',sans-serif;font-size:24px;font-weight:normal;line-height:100%;margin:5px 0;}
body .main .container.obrasd #detalhe-obra p{font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#8d8d8b;text-align:center;line-height:150%;}
body .main .container.obrasd .coluna.esquerda{width:238px;overflow:hidden;position:relative;margin-right:28px;}body .main .container.obrasd .coluna.esquerda #animate-ul{height:476px;}body .main .container.obrasd .coluna.esquerda #animate-ul .lista-thumbs{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:238px;height:476px;}body .main .container.obrasd .coluna.esquerda #animate-ul .lista-thumbs li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:116px;margin-bottom:3px;margin-right:3px;}body .main .container.obrasd .coluna.esquerda #animate-ul .lista-thumbs li a{display:block;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');border:3px transparent solid;}body .main .container.obrasd .coluna.esquerda #animate-ul .lista-thumbs li a img{-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');width:110px;height:110px;}
body .main .container.obrasd .coluna.esquerda #animate-ul .lista-thumbs li a:hover,body .main .container.obrasd .coluna.esquerda #animate-ul .lista-thumbs li a.aberto{border:3px #ef7e20 solid;background-color:#ef7e20;}
body .main .container.obrasd .coluna.esquerda .paginacao-thumbs{height:27px;}body .main .container.obrasd .coluna.esquerda .paginacao-thumbs #pagina-anterior{float:left;}
body .main .container.obrasd .coluna.esquerda .paginacao-thumbs #proxima-pagina{float:right;margin-right:3px;}
body .main .container.obrasd .coluna.esquerda .paginacao-thumbs a{width:28px;height:25px;line-height:25px;text-align:center;color:#fff;display:block;background-color:#14355e;border-bottom:3px #08283d solid;font-family:'Verdana','Arial',sans-serif;font-size:20px;font-weight:normal;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .container.obrasd .coluna.esquerda .paginacao-thumbs a:active,body .main .container.obrasd .coluna.esquerda .paginacao-thumbs a:visited{color:#fff;}
body .main .container.obrasd .coluna.esquerda .paginacao-thumbs a:hover{background-color:#ef7e20;border-bottom:3px #d46e23 solid;}
body .main .container.obrasd .coluna.direita{width:694px;height:505px;}body .main .container.obrasd .coluna.direita #imagem-ampliada{width:694px;height:505px;}body .main .container.obrasd .coluna.direita #imagem-ampliada img{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');max-width:694px;max-height:505px;}
body .main .container.contato #mapa{border:1px #c9c9c9 solid;margin-bottom:30px;}
body .main .container.contato .coluna{width:347px;}body .main .container.contato .coluna h3{font-family:'Gill','Tahoma',sans-serif;font-size:32px;font-weight:normal;color:#14355e;}
body .main .container.contato .coluna.contato .telefone{color:#8d8d8b;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:30px;font-weight:bold;}
body .main .container.contato .coluna.contato .endereco{color:#8d8d8b;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:20px;font-weight:bold;}
body .main .container.contato .coluna.form{width:613px;}body .main .container.contato .coluna.form .coluna-form-esq{width:295px;margin-right:5px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}
body .main .container.contato .coluna.form .coluna-form-dir{width:313px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}
body .main .container.contato .coluna.form #contato-submit{height:40px;}
body .main .container.contato .coluna.form input[type="text"],body .main .container.contato .coluna.form input[type="email"]{padding:10px 14px;margin:0 0 10px 0;height:20px;line-height:20px;color:#8d8d8b;border:1px #c9c9c9 solid;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:bold;display:block;width:263px;}body .main .container.contato .coluna.form input[type="text"]::-webkit-input-placeholder,body .main .container.contato .coluna.form input[type="email"]::-webkit-input-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form input[type="text"]:-moz-placeholder,body .main .container.contato .coluna.form input[type="email"]:-moz-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form input[type="text"]::-moz-placeholder,body .main .container.contato .coluna.form input[type="email"]::-moz-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form input[type="text"]:-ms-input-placeholder,body .main .container.contato .coluna.form input[type="email"]:-ms-input-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form textarea{padding:10px 14px;margin:0 0 10px 0;height:123px;resize:none;overflow:auto;line-height:130%;color:#8d8d8b;border:1px #c9c9c9 solid;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:bold;display:block;width:281px;}body .main .container.contato .coluna.form textarea::-webkit-input-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form textarea:-moz-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form textarea::-moz-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form textarea:-ms-input-placeholder{color:#8d8d8b;}
body .main .container.contato .coluna.form #contato-submit{height:40px;text-align:right;}body .main .container.contato .coluna.form #contato-submit input[type="submit"]{border:0;width:85px;height:30px;line-height:30px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;behavior:url('PIE.htc');padding:0 15px;text-align:center;color:#fff;background-color:#14355e;border-bottom:3px #08283d solid;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:15px;font-weight:bold;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body .main .container.contato .coluna.form #contato-submit input[type="submit"]:active,body .main .container.contato .coluna.form #contato-submit input[type="submit"]:visited{color:#fff;}
body .main .container.contato .coluna.form #contato-submit input[type="submit"]:hover{cursor:pointer;color:#ef7e20;}
body footer{border-top:1px #c9c9c9 solid;}body footer .newsletter{font-size:0;background-color:#f0f0f0;border-bottom:1px #d46e23 solid;}body footer .newsletter .centro{position:relative;overflow:hidden;}
body footer .newsletter .texto-newsletter{display:inline-block;*display:inline;zoom:1;vertical-align:top;vertical-align:middle;height:66px;width:545px;line-height:66px;padding-left:40px;background:url('../_imgs/layout/newsletter.png') left center no-repeat;font-family:'Gill','Tahoma',sans-serif;font-size:22px;font-weight:normal;color:#636363;}
body footer .newsletter #mensagem-newsletter{position:absolute;background-color:#f0f0f0;right:0;top:0;height:66px;line-height:66px;width:375px;font-family:'Gill','Tahoma',sans-serif;font-size:22px;font-weight:normal;color:#08283d;text-align:center;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body footer .newsletter #mensagem-newsletter.hid{top:66px;}
body footer .newsletter form{display:inline-block;*display:inline;zoom:1;vertical-align:top;vertical-align:middle;width:375px;height:66px;}body footer .newsletter form input[type="text"],body footer .newsletter form input[type="email"]{border:0;margin:21px 8px 0 0;padding:4px 8px;height:16px;background-color:#FFF;color:#14355e;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:13px;font-weight:bold;width:124px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}
body footer .newsletter form input[type="submit"]{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;border:0;padding:0 11px;height:27px;line-height:25px;margin-top:21px;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:13px;font-weight:bold;color:#fff;background-color:#ef7e20;border-bottom:3px #d46e23 solid;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;behavior:url('PIE.htc');}body footer .newsletter form input[type="submit"]:hover{cursor:pointer;color:#14355e;}
body footer .info{background:url('../_imgs/layout/footer_logo.png') #ef7e20 center center no-repeat;padding:20px 0;}body footer .info .centro h3{background-color:#fff;color:#14355e;font-family:'Gill','Tahoma',sans-serif;font-size:22px;font-weight:normal;width:38px;height:18px;line-height:22px;text-align:center;padding:4px 6px 6px 6px;margin-bottom:15px;}
body footer .info .centro .links{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:760px;font-size:0;}body footer .info .centro .links ul{list-style:none;width:105px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}body footer .info .centro .links ul li{font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#14355e;margin-bottom:3px;}body footer .info .centro .links ul li a{color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body footer .info .centro .links ul li a:active,body footer .info .centro .links ul li a:visited{color:#fff;}
body footer .info .centro .links ul li a:hover{color:#14355e;}
body footer .info .centro .contato{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:190px;}body footer .info .centro .contato h3{width:55px;}
body footer .info .centro .contato .container{width:190px;position:relative;}body footer .info .centro .contato .container .telefone{font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:20px;font-weight:bold;color:#fff;}
body footer .info .centro .contato .container .endereco{font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#fff;line-height:120%;}
body footer .info .centro .contato .container .links-social{width:25px;position:absolute;top:0;right:0;}
body footer .assinatura{height:37px;background-color:#14355e;}body footer .assinatura .centro{height:37px;line-height:37px;text-align:center;font-family:'Trebuchet MS','Tahoma',sans-serif;font-size:11px;font-weight:normal;color:#fff;}body footer .assinatura .centro a{color:#fff;}body footer .assinatura .centro a span{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;border-bottom:1px transparent dotted;}
body footer .assinatura .centro a img{margin-left:10px;vertical-align:-2px;}
body footer .assinatura .centro a:active,body footer .assinatura .centro a:visited{color:#fff;}
body footer .assinatura .centro a:hover span{border-bottom:1px #fff dotted;}
#envio-ok{margin:5px 0;text-align:center;font-family:'Gill','Tahoma',sans-serif;font-size:26px;font-weight:normal;color:#14355e;}
