@import 'vars.less';

body{
	header{
		background:@laranja;
		height:96px;
		border-bottom:1px @azul solid;
		.centro{
			position:relative;
			nav{
				position:absolute;
				top:0;
				&.esquerda{ left:0; }
				&.direita{ right:0; }
				ul{
					font-size:0;
					li{
						height:96px;
						overflow:hidden;
						.inline;
						a{
							padding:0 25px;
							display:block;
							height:94px;
							line-height:140px;
							border-bottom:2px @laranja solid;
							color:#fff;
							text-shadow: 0px 2px 0px #C07033;
        					filter: dropshadow(color=#C07033, offx=0, offy=2);
        					text-align:center;
        					background:url('../_imgs/layout/seta_menu.png') @laranja center 100px no-repeat;
        					.gill(28px);
							.transition;
							&:active, &:visited{ color:#fff; }
							&:hover, &.ativo{
								text-shadow: 0px 2px 0px #C07033;
        						filter: dropshadow(color=#C07033, offx=0, offy=2);
								color:@azul;
								background:url('../_imgs/layout/seta_menu.png') @laranja_claro center bottom no-repeat;
								border-bottom:2px @azul solid;
							}
						}
					}
				}
			}
			#link-home{
				width:195px;
				height:132px;
				position:absolute;
				top:13px;
				left:382px;
				z-index:999999;
			}
		}
	}
	.main{
		.titulo-internas{
			background-color:#FBFBFB;
			border-bottom:1px @cinza_medio solid;
			height:130px;
			.centro{
				height:130px;
				background:url('../_imgs/layout/paginas_internas-topo.jpg') right center no-repeat;
				h1{
					.gill(40px, bold);
					color:@azul;
					.sombraTexto(2px, 2, #84919A);
					padding-top:35px;
					line-height:100%;
				}
				h2{
					.trebuchet(14px);
					color:@cinza_escuro;
					line-height:100%;
				}
			}
		}
		.container{
			padding:40px 0;
			font-size:0;
			.coluna{
				.inline;
				&.esquerda{
					width:350px;
					img{
						.arredondada(8px);
					}
					.submenu-servicos{
						.inline;
						width:140px;
						border-top:1px @cinza_medio solid;
						&.esquerda{ margin-right:18px; }
						li{
							width:140px;
							border-bottom:1px @cinza_medio solid;
							a{
								.gill(22px);
								color:@cinza_escuro;
								height:50px;
								line-height:50px;
								text-align:center;
								display:block;
								background-color:#fff;
								margin:1px 0;
								.transition;
								&:active, &:visited{}
								&.ativo, &:hover{
									.sombraTexto(2px, 2, #C66D13);
									color:#fff;
									background-color:@laranja;
								}
							}
						}
					}
				}
				&.direita{
					width:610px;
					p{
						.trebuchet(15px);
						color:@cinza_escuro;
						margin-bottom:15px;
						line-height:130%;
						margin-left:28px;
						&.destaque{
							line-height:118%;
							.arredondada(8px);
							.sombraTexto(2px, 2, #C2641A);
							background-color:@laranja;
							.trebuchet(18px, bold);
							color:#fff;
							text-align:center;
							padding:15px;
						}
					}
					.servicos-imagem{
						.inline;
						width:215px;
						img{
							.arredondada(8px);
						}
					}
					.servicos-texto{
						.inline;
						width:395px;
						h2{
							line-height:100%;
							.gill(40px);
							.sombraTexto(2px, 2, #C9CDCE);
							color:@laranja;
							margin-left:28px;
						}
						.orcamento{
							margin-left:28px;
							position:relative;
							height:52px;
							a.action{
								width:177px;
								height:23px;
								line-height:23px;
								.arredondada(8px);
								padding:10px 15px;
								text-align:center;
								color:#fff;
								background-color:@azul;
								border-bottom:3px @azul_escuro solid;
								.gill(17px, bold);
								.inline;
								.transition;
								&:active, &:visited{ color:#fff; }
								&:hover{
									color:@laranja;
								}
							}
							.facebook-like{
								height:25px;
								margin-bottom:2px;
								position:absolute;
								top:0;
								right:0;
								width:142px;
								overflow:hidden;
							}
							.twitter-twet{
								height:25px;
								position:absolute;
								top:25px;
								right:0;
								width:142px;
								overflow:hidden;
							}
						}
					}
					.servicos-lista{
						margin-top:15px;
						h3{
							.gill(20px);
							color:@cinza_escuro;
							.transition;
							height:30px;
							line-height:30px;
							margin-top:10px;
							background-color:@cinza_claro;
							.sinal{
								margin-right:10px;
								width:30px;
								height:30px;
								line-height:30px;
								background-color:@laranja;
								color:#fff;
								text-align:center;
								.verdana(25px);
								float:left;
							}
							&:hover, &.aberto{
								color:@azul;
								cursor:pointer;
							}
						}
						.detalhe{
							.transition(height, .3s, ease-in);
							.transition(padding-top, .3s, ease-in);
							.transition(padding-bottom, .3s, ease-in);
							margin-left:30px;
							padding:5px 10px 12px 10px;
							line-height:130%;
							background-color:@cinza_claro;
							.trebuchet(13px);
							color:@cinza_escuro;
							&.hid{
								height:0;
								padding:0;
								overflow:hidden;
							}
						}
					}
				}
			}
			#form-orcamento{
				font-size:0;
				.coluna-form{
					.inline;
					&.esquerda{
						width:418px;
						margin-right:7px;
						input{
							padding:10px 14px;
							margin:0 0 10px 0;
							height:20px;
							line-height:20px;
							color:@cinza_escuro;
							border:1px @cinza_medio solid;
							.arredondada(8px);
							.trebuchet(15px, bold);
							display:block;
							width:387px;
							&::-webkit-input-placeholder { color:@cinza_escuro;}
							&:-moz-placeholder { color:@cinza_escuro; }
							&::-moz-placeholder { color:@cinza_escuro; }
							&:-ms-input-placeholder { color:@cinza_escuro; }
							&.inline-large{
								.inline;
								width:235px;
							}
							&.inline-small{
								.inline;
								width:115px;
								margin-left:7px;
							}
						}
					}
					&.direita{
						width:535px;
						textarea{
							padding:10px 14px;
							margin:0 0 10px 0;
							height:228px;
							resize:none;
							overflow:auto;
							line-height:130%;
							color:@cinza_escuro;
							border:1px @cinza_medio solid;
							.arredondada(8px);
							.trebuchet(15px, bold);
							display:block;
							width:512px;
							&::-webkit-input-placeholder { color:@cinza_escuro;}
							&:-moz-placeholder { color:@cinza_escuro; }
							&::-moz-placeholder { color:@cinza_escuro; }
							&:-ms-input-placeholder { color:@cinza_escuro; }	
						}
					}
				}
				.submit-placeholder{
					height:34px;
					text-align:right;
					input{
						border:0;
						width:85px;
						height:30px;
						line-height:30px;
						.arredondada(4px);
						padding:0 15px;
						text-align:center;
						color:#fff;
						background-color:@azul;
						border-bottom:3px @azul_escuro solid;
						.trebuchet(15px, bold);
						.inline;
						.transition;
						&:active, &:visited{ color:#fff; }
						&:hover{
							cursor:pointer;
							color:@laranja;
						}						
					}
				}
			}
			.link-servicos{
				.inline;
				background-color:@cinza_claro;
				padding:7px;
				width:285px;
				margin-right:30px;
				margin-bottom:30px;
				&.semmargem{ margin-right:0; }
				.arredondada(7px);
				.transition;
				h2{
					.arredondada(7px);
					width:285px;
					height:235px;
					text-indent:-9999px;
					.trebuchet(14px);
				}
				.olho{
					margin:10px 0;
					text-align:center;
					padding:0 10px;
					.trebuchet(15px);
					color:@cinza_escuro;
					line-height:120%;
				}
				&.alvenaria h2{ background:url('../_imgs/servicos/alvenaria-thumb.jpg') center center no-repeat;}
				&.acabamento h2{ background:url('../_imgs/servicos/acabamento-thumb.jpg') center center no-repeat;}
				&.eletrica h2{ background:url('../_imgs/servicos/eletrica-thumb.jpg') center center no-repeat;}
				&.gesso h2{ background:url('../_imgs/servicos/gesso-thumb.jpg') center center no-repeat;}
				&.hidraulica h2{ background:url('../_imgs/servicos/hidraulica-thumb.jpg') center center no-repeat;}
				&.pintura h2{ background:url('../_imgs/servicos/pintura-thumb.jpg') center center no-repeat;}
				&:hover{
					.olho{ color:#fff; }
					background-color:@laranja;
				}
			}
			.link-obras{
				.inline;
				padding:7px;
				width:208px;
				margin-right:19px;
				margin-bottom:19px;
				background-color:@cinza_claro;
				.arredondada(6px);
				.transition;
				img{
					.arredondada(4px);
					max-width:208px;
					margin-bottom:7px;
				}
				h2{
					.transition;
					text-align: center;
					color:@azul;
					.sombraTexto(2px, 2, #CACCC9);
					.gill(24px);
					line-height:100%;
				}
				h3{
					.transition;
					text-align: center;
					color:@laranja;
					.gill(20px);
					line-height:100%;
					margin-bottom:5px;
				}
				p{
					.transition;
					.trebuchet(13px);
					color:@cinza_escuro;
					text-align:center;
					line-height:120%;
				}
				&.semmargem{ margin-right:0; }
				&:hover{
					background-color:@laranja;
					h2{ .sombraTexto(2px, 2, #B46D37); }
					h3{ color:#fff; }
					p{ color:#fff; }
				}
			}
			&.obrasd{
				#detalhe-obra{
					background-color:@cinza_claro;
					.arredondada(8px);
					padding:20px;
					margin-bottom:18px;
					h3{
						text-align: center;
						color:@azul;
						.sombraTexto(2px, 2, #CACCC9);
						.gill(27px);
						line-height:100%;
					}
					h4{
						text-align: center;
						color:@laranja;
						.gill(24px);
						line-height:100%;
						margin:5px 0;
					}
					p{
						.trebuchet(14px);
						color:@cinza_escuro;
						text-align:center;
						line-height:150%;
					}
				}
				.coluna.esquerda{
					width:238px;
					overflow:hidden;
					position:relative;
					margin-right:28px;
					#animate-ul{
						height:476px;
						.lista-thumbs{
							.inline;
							width:238px;
							height:476px;
							li{
								.inline;
								width:116px;
								margin-bottom:3px;
								margin-right:3px;
								a{
									display:block;
									.transition;
									.arredondada(6px);
									border:3px transparent solid;
									img{
										.arredondada(6px);
										width:110px;
										height:110px;
									}
									&:hover, &.aberto{
										border:3px @laranja solid;
										background-color:@laranja;
									}
								}
							}
						}
					}
					.paginacao-thumbs{
						height:27px;
						#pagina-anterior{
							float:left;
						}
						#proxima-pagina{
							float:right;
							margin-right:3px;
						}
						a{
							width:28px;
							height:25px;
							line-height:25px;
							text-align:center;
							color:#fff;
							display:block;
							background-color:@azul;
							border-bottom:3px @azul_escuro solid;
							.verdana(20px);
							.arredondada(3px);
							.transition;
							&:active, &:visited{ color:#fff; }
							&:hover{
								background-color:@laranja;
								border-bottom:3px @laranja_escuro solid;
							}
						}
					}
				}
				.coluna.direita{
					width:694px;
					height:505px;
					#imagem-ampliada{
						width:694px;
						height:505px;
						img{
							.transition;
							position:absolute;
							.arredondada(8px);
							max-width:694px;
							max-height:505px;
						}
					}
				}
			}
			&.contato{
				#mapa{ border:1px @cinza_medio solid; margin-bottom:30px; }
				.coluna{
					width:347px;
					h3{
						.gill(32px);
						color:@azul;
					}
					&.contato{
						.telefone{
							color:@cinza_escuro;
							.trebuchet(30px, bold);
						}
						.endereco{
							color:@cinza_escuro;
							.trebuchet(20px, bold);
						}
					}
					&.form{
						width:613px;
						.coluna-form-esq{
							width:295px;
							margin-right:5px;
							.inline;

						}
						.coluna-form-dir{
							width:313px;
							.inline;
						}
						#contato-submit{
							height:40px;
						}
						input[type="text"], input[type="email"]{
							padding:10px 14px;
							margin:0 0 10px 0;
							height:20px;
							line-height:20px;
							color:@cinza_escuro;
							border:1px @cinza_medio solid;
							.arredondada(8px);
							.trebuchet(15px, bold);
							display:block;
							width:263px;
							&::-webkit-input-placeholder { color:@cinza_escuro;}
							&:-moz-placeholder { color:@cinza_escuro; }
							&::-moz-placeholder { color:@cinza_escuro; }
							&:-ms-input-placeholder { color:@cinza_escuro; }							
						}
						textarea{
							padding:10px 14px;
							margin:0 0 10px 0;
							height:123px;
							resize:none;
							overflow:auto;
							line-height:130%;
							color:@cinza_escuro;
							border:1px @cinza_medio solid;
							.arredondada(8px);
							.trebuchet(15px, bold);
							display:block;
							width:281px;
							&::-webkit-input-placeholder { color:@cinza_escuro;}
							&:-moz-placeholder { color:@cinza_escuro; }
							&::-moz-placeholder { color:@cinza_escuro; }
							&:-ms-input-placeholder { color:@cinza_escuro; }							
						}
						#contato-submit{
							height:40px;
							text-align:right;
							input[type="submit"]{
								border:0;
								width:85px;
								height:30px;
								line-height:30px;
								.arredondada(4px);
								padding:0 15px;
								text-align:center;
								color:#fff;
								background-color:@azul;
								border-bottom:3px @azul_escuro solid;
								.trebuchet(15px, bold);
								.inline;
								.transition;
								&:active, &:visited{ color:#fff; }
								&:hover{
									cursor:pointer;
									color:@laranja;
								}								
							}
						}
					}
				}
			}
		}
	}
	footer{
		border-top:1px @cinza_medio solid;
		.newsletter{
			font-size: 0;
			background-color:@cinza_mais_claro;
			border-bottom:1px @laranja_escuro solid;
			.centro{ position:relative; overflow:hidden; }
			.texto-newsletter{
				.inline;
				vertical-align:middle;
				height:66px;
				width:545px;
				line-height:66px;
				padding-left:40px;
				background:url('../_imgs/layout/newsletter.png') left center no-repeat;
				.gill(22px);
				color:@cinza_mais_escuro;
			}
			#mensagem-newsletter{
				position:absolute;
				background-color:#f0f0f0;
				right:0;
				top:0;
				height:66px;
				line-height:66px;
				width:375px;
				.gill(22px);
				color:@azul_escuro;
				text-align:center;
				.transition;
				&.hid{
					top:66px;
				}
			}			
			form{
				.inline;
				vertical-align:middle;
				width:375px;
				height:66px;
				input[type="text"],
				input[type="email"]{
					border:0;
					margin:21px 8px 0 0;
					padding:4px 8px;
					height:16px;
					background-color: #FFF;
					color:@azul;
					.trebuchet(13px, bold);
					width:124px;
					.inline;
				}
				input[type="submit"]{
					.transition;
					border:0;
					padding:0 11px;
					height:27px;
					line-height:25px;
					margin-top:21px;
					.trebuchet(13px, bold);
					color:#fff;
					background-color:@laranja;
					border-bottom:3px @laranja_escuro solid;
					.arredondada(4px);
					&:hover{
						cursor:pointer;
						color:@azul;
					}
				}
			}
		}
		.info{
			background:url('../_imgs/layout/footer_logo.png') @laranja center center no-repeat;
			padding:20px 0;
			.centro{
				h3{
					background-color:#fff;
					color:@azul;
					.gill(22px);
					width:38px;
					height:18px;
					line-height:22px;
					text-align:center;
					padding:4px 6px 6px 6px;
					margin-bottom:15px;
				}				
				.links{
					.inline;
					width:760px;
					font-size:0;
					ul{
						list-style:none;
						width:105px;
						.inline;
						li{
							.trebuchet(14px);
							color:@azul;
							margin-bottom:3px;
							a{
								color:#fff;
								.transition;
								&:active, &:visited{ color:#fff; }
								&:hover{ color:@azul; }
							}
						}
					}
				}
				.contato{
					h3{ width:55px; }
					.inline;
					width:190px;
					.container{
						width:190px;
						position:relative;
						.telefone{
							.trebuchet(20px, bold);
							color:#fff;
						}
						.endereco{
							.trebuchet(14px);
							color:#fff;
							line-height:120%;
						}
						.links-social{
							width:25px;
							position:absolute;
							top:0;
							right:0;
						}
					}
				}
			}
		}
		.assinatura{
			height:37px;
			background-color:@azul;
			.centro{
				height:37px;
				line-height:37px;
				text-align:center;
				.trebuchet(11px);
				color:#fff;
				a{
					color:#fff;
					span{
						.transition;
						border-bottom:1px transparent dotted;
					}
					img{
						margin-left:10px;
						vertical-align:-2px;
					}
					&:active, &:visited{ color:#fff; }
					&:hover{
						span{
							border-bottom:1px #fff dotted;
						}
					}
				}
			}
		}
	}
}

#envio-ok{
	margin:5px 0;
	text-align:center;
	.gill(26px);
	color:@azul;
}