@import 'vars.less';

.main{
	#slides{
		background-color:#F8F8F6;
		border-bottom:1px @cinza_medio solid;
		.centro{
			height:349px;
			margin-bottom:1px;
			#animate{
				height:349px;
				width:960px;
				.slide{
					height:349px;
					width:960px;
					position:absolute;
					h1{
						.gill(32px, bold);
						color:@azul;
						.sombraTexto(2px, 2, #ABADB9);
						width:400px;
						line-height:110%;
						margin-top:75px;
						margin-bottom:10px;
					}
					h2{
						line-height:130%;
						width:400px;
						.trebuchet(15px);
						color:@cinza_escuro;
						margin-bottom:25px;
					}
					a{
						width:180px;
						display:block;
						height:23px;
						line-height:32px;
						.arredondada(8px);
						padding:10px 15px;
						text-align:center;
						background-color: @laranja;
						border-bottom:3px @laranja_escuro solid;
						color:#fff;
						.gill(18px, bold);
						.transition;
						&:active, &:visited{ color:#fff; }
						&:hover{
							color:@azul;
						}
					}
					&.slide1{ background:url('../_imgs/home/slider1.jpg') right center no-repeat; }
					&.slide2{ background:url('../_imgs/home/slider2.jpg') right center no-repeat; }
					&.slide3{ background:url('../_imgs/home/slider3.jpg') right center no-repeat; }
				}
			}
		}
	}
	#navegacao{
		height:30px;
		margin-bottom:30px;
		text-align:center;
		a{
			.inline;
			width:10px;
			margin:10px 5px 0 5px;
			height:10px;
			background-color:@laranja;
			.arredondada(100px);
			.transition;
			&:active, &:visited{}
			&:hover, &.activeSlide{
				background-color:@azul;
			}
		}
	}
	#chamadas-container{
		font-size:0;
		margin-bottom:70px;
		a.chamada{
			h3{
				.transition;
				height:290px;
				line-height:290px;
				text-align:center;
				.sombraTexto(2px, 2, #0E223F);
				color:@laranja;
				text-indent: -9999px;
			}
			&.servicos{
				margin-right:45px;
				background:url('../_imgs/home/home_servicos-hover.jpg') -8000px top no-repeat;
				h3{ background:url('../_imgs/home/home_servicos.jpg'); }
				&:hover{
					h3{ background:url('../_imgs/home/home_servicos-hover.jpg'); }
				}
			}
			&.orcamento{
				margin-right:45px;
				background:url('../_imgs/home/home_orcamento-hover.jpg') -8000px top no-repeat;
				h3{ background:url('../_imgs/home/home_orcamento.jpg'); }
				&:hover{
					h3{ background:url('../_imgs/home/home_orcamento-hover.jpg'); }
				}
			}
			&.imoveis{
				background:url('../_imgs/home/home_imoveis-hover.jpg') -8000px top no-repeat;
				h3{ background:url('../_imgs/home/home_imoveis.jpg'); }
				&:hover{
					h3{ background:url('../_imgs/home/home_imoveis-hover.jpg'); }
				}
			}
			p{
				width:275px;
				display:block;
				margin:18px auto;
				.trebuchet(15px);
				text-align:center;
				color:@cinza_escuro;
			}
			.saiba-mais{
				text-align:center;
				span{
					.transition;
					.gill(18px, bold);
					color:@azul;
					border-bottom:3px @cinza_claro solid;
				}
			}
			.inline;
			width:290px;
			.transition;
			&:active, &:visited{}
			&:hover{
				span{
					border-bottom:3px @laranja solid;
				}
			}
		}
	}
}