@laranja:#EF7E20;
@laranja_escuro:#D46E23;
@laranja_claro:#F19242;
@azul:#14355E;
@azul_escuro:#08283D;

// 5 Tons de Cinza
@cinza_mais_claro:#F0F0F0;
@cinza_claro:#EDEDED;
@cinza_medio:#C9C9C9;
@cinza_escuro:#8D8D8B;
@cinza_mais_escuro:#636363;

@largura:960px;

.centro{ .centralizar; }
.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.verdana(@fsize:12px, @fweight:normal){
	font-family:'Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.gill(@fsize:12px, @fweight:normal){
	font-family: 'Gill', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.trebuchet(@fsize:12px, @fweight:normal){
	font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.sombraTexto(@horizontal:2px, @horizontalIE:2, @cor:#C07033){
	text-shadow: 0px @horizontal 0px @cor;
	filter: dropshadow(color=@cor, offx=0, offy=@horizontalIE);
}