@font-face {
    font-family: 'Gill';
    src: url('gillsansstdcondensed0.eot');
    src: url('gillsansstdcondensed0.eot?#iefix') format('embedded-opentype'),
         url('gillsansstdcondensed0.woff') format('woff'),
         url('gillsansstdcondensed0.ttf') format('truetype'),
         url('gillsansstdcondensed0.svg#gillsansstdcondensed0') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill';
    src: url('gillsansstdboldcondensed0.eot');
    src: url('gillsansstdboldcondensed0.eot?#iefix') format('embedded-opentype'),
         url('gillsansstdboldcondensed0.woff') format('woff'),
         url('gillsansstdboldcondensed0.ttf') format('truetype'),
         url('gillsansstdboldcondensed0.svg#gillsansstdboldcondensed0') format('svg');
    font-weight: bold;
    font-style: normal;
}